__pycache__/
.idea
/.idea
/logs
/venv
db.sqlite3
src/bot/__pycache__
src/bot/db/__pycache__
src/bot/db/tables/__pycache__
src/bot/handlers/__pycache__
src/bot/user/__pycache__
src/bot/misc/__pycache__
.env
